.navbar {
    display: block !important;
}

.btn {
    color: inherit;
    display: block !important;
    width: 50% !important;
    margin: 0px auto 4px auto;
}

.btn a{
    text-decoration: none !important;
    color: inherit;
}

img {
    width: -webkit-fill-available;
}

@media (min-width: 768px) {
    .navbar {
        margin: 0px auto;
    }

    .btn {
        display: inline-block !important;
        margin: 0px 4px;
        width: auto !important;
    }

    img {
        width: 100%;
    }
}