.navbar {
    display: block !important;
}

.btn {
    color: inherit;
    display: block !important;
    width: 50%;
    margin: 0px auto 4px auto;
}

.btn a{
    text-decoration: none;
    color: inherit;
}

img {
    width: -webkit-fill-available;
}

@media (min-width: 768px) {
    .navbar {
        margin: 0px auto;
    }

    .btn {
        display: inline-block !important;
        margin: 0px 4px;
        width: auto;
    }

    img {
        width: 100%;
    }
}
